.progress-circle {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: none;
	border: 2px solid #58616a;
	position: relative;
}
.progress-circle:before,
.progress-circle:after {
	content: '';
	position: absolute;
	border-radius: 50%;
}
.progress-circle:before {
	width: 160px;
	height: 160px;
	background: conic-gradient(#0c0 0%, #58616a 0%);
	top: 3px;
	left: 3px;
}
.progress-circle:after {
	width: 130px;
	height: 130px;
	background: white;
	top: 17.5px;
	left: 17.5px;
}
.progress-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 10;
	font-size: 15px;
	color: #333;
}